#authentication {
    width: 350px;
    height: 500px;
    background-color: #2c292a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

#authentication form {
    margin-top: 50px;
}

#authentication .input-group {
    margin: 0 auto;
}

#authentication .input-group-text {
    height: 36px;
    border-radius: 0px !important;
}

#authentication input, #authentication input:focus {
    border: none !important;
    box-shadow: none !important;
}

#authentication input::placeholder {
    font-size: 14px;
}

#authentication .title {
    color: white;
    font-size: 35px;
    text-align: center;
    margin-bottom: 50px;
}

#authentication button {
    margin: 2.5px;
}